<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @artist.name %></h1>
      <a href="<%= @artist.image_url %>" target="_blank">¡Obtenlo!</a>
    </div>
  </div>
</div>
 



